.contentBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px;

    p.content {
        display: flex;
        margin: 30px;
    }
}

.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}